{{template "layoutVue.tmpl" .}}
{{define "title"}}Manage Account{{end}}
{{define "vue"}}
  <div class="columns is-centered">
    <div class="column is-half">
      <ManageAccount />
    </div>
  </div>
{{end}}
