{{template "layoutVue.tmpl" .}}
{{define "title"}}Create Account{{end}}
{{define "vue"}}
<div class="columns is-centered">
  <div class="column is-half">
    <CreateAccount />
  </div>
</div>
{{end}}
