{{template "layoutVue.tmpl" .}}
{{define "title"}}Create Account{{end}}
{{define "vue"}}
  <div class="columns is-centered">
    <div class="column is-half">
      <CreateAccount
        :requirements="{{json .Requirements}}"
        :recaptchav2="{{json .RecaptchaV2}}"
        />
    </div>
  </div>
{{end}}
