{{template "layoutVue.tmpl" .}}
{{define "title"}}Create Account{{end}}
{{define "vue"}}
<div class="columns is-centered">
  <div class="column is-half">
    <CreateAccount
      :password-min-length="{{.Requirements.PasswordMinLength}}"
      :password-max-length="{{.Requirements.PasswordMaxLength}}"
      :username-min-length="{{.Requirements.UsernameMinLength}}"
      :username-max-length="{{.Requirements.UsernameMaxLength}}"
      />
  </div>
</div>
{{end}}
