{{template "layout.tmpl" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Sign In</p>
    </header>
    <div class="card-content">
        <div class="content">
            Sign in head
            <form action="/signin" method="POST">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Text Input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user" />
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="app">
        <Banner />
    </div>
    <script>bindVue('#app');</script>

</div>
<h1>
    {{ .title }}
</h1>
{{end}}
