From: {{ .From }}
To: {{ .To }}
Subject: Password Reset at {{ .Model.Company }}

Someone has requested a password reset for {{ .Model.Company }}.

If this wasn't you, please ignore this email.

Click here to login and change your password: {{ .Model.ResetLink }}

This link will expire in {{ .Model.ResetDuration }}

- {{ .Model.Company }} ({{ .Model.BaseURL }})
